/* By Uk */
@import 'mixin';
@import 'fonts';

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: Poppins-Regular;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #16161E;
}

body::-webkit-scrollbar-track {
    background-color: #16161E;
}

body::-webkit-scrollbar-thumb {
    background-color: #135568;
    border-radius: 6px;
}

header {
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    transition: all 300ms linear;
    z-index: 99999;

    .navbar {
        font-weight: 100;
        padding: 2% 7%;
        height: auto;
        top: 1%;
        // background: linear-gradient(to right, transparent, hsla(0, 0%, 13%, 0.616) 90%, hsla(0, 0%, 13%, 0.616) 100% );
        z-index: 99999;
        // box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
        transition: all 300ms linear;

        @include xsm {
            padding: 2% 2.5%;
            top: 0;
        }
        @include sm {
            padding: 2% 2.5%;
            top: 0;
        }
        @include md {
            padding: 2% 2.5%;
            top: 0;
        }
        &.blackto {
            background: rgba(7, 7, 7, 0.671);
            // background: #20232C;
            box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.678);
            padding: 1% 7%;
            top: 0;
            left: 0;
            @include xsm {
                padding: 3% 2.5%;
                top: 0;
            }
            @include sm {
                padding: 3% 2.5%;
                top: 0;
            }
            @include md {
                padding: 3% 2.5%;
                top: 0;
            }
            .menu-navbar{
                top: 21px;
            }
            .navbar-brand .logo {
                width: 50px;
                // position: relative;
                // top: 0;
                @include xsm{
                    width: 50px;
                }
                @include sm{
                    width: 36px;
                }
                @include md{
                    width: 33px;
                }
            }
        }
        .navbar-brand {
            padding: 0;
            font-size: initial;
            .logo {
                width: 70px;
                height: auto;
                // position: absolute;
                top: 9%;
                @include xsm{
                    width: 50px;
                }
                @include sm{
                    width: 36px;
                }
            }
        }
        .custom-navbar-nav {
            position: relative;
            @include md{
                flex-direction: row;
            }
            .nav-item {
                position: relative;
                @include xsm{
                    border-bottom: 1px solid rgba(75, 75, 75, 0.178);
                }
                @include sm{
                    border-bottom: 1px solid rgba(75, 75, 75, 0.178);
                }
                .nav-link {
                    padding: 0.5rem 1.5rem;
                    color: #ffffff;
                    font-size: 16px;
                    position: relative;
                    transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
                    &:hover {
                        color: #e2e2e2;
                        @include xsm{
                            background-color: #2D2E2C;
                        }
                        @include sm{
                            background-color: #2D2E2C;
                        }
                    }
                    @include xsm {
                        padding: .5rem .5rem;
                        border-radius: 8px;
                        font-size: 20px;
                    }                   
                }
            }
        }
    }
}

.menu-navbar{
    margin-left: auto;
    display: none;
    // margin-right: 3%;
    position: absolute;
    right: 7%;
    top: 38px;
    @include xsm{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        // right: 19px;
        // background: #2D2E2C;
        padding: 4%;
        background-color: #2D2E2C;
        border-radius: 4;
        box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
    }
    @include sm{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        // right: 19px;
        // background: #2D2E2C;
        padding: 4%;
        background-color: #565A5C;
        border-radius: 4;
        box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
    }
    &.opened{
        display: block;
        animation: open 0.3s 0.2s linear backwards;
    }
}
@keyframes open {
    from{
        transform: translateX(50px) rotateX(45deg);
        opacity: 0;
    }
    to{
        transform: translateX(0px) rotateX(0deg);
        opacity: 1;
    }
}
@include xsm{
    @keyframes open {
        from{
            transform: translateX(-50px);
            opacity: 0;
        }
        to{
            transform: translateX(0px);
            opacity: 1;
        }
    }
}

@include sm{
    @keyframes open {
        from{
            transform: translateX(-50px);
            opacity: 0;
        }
        to{
            transform: translateX(0px);
            opacity: 1;
        }
    }
}

// .navbar-toggler {
//     outline: none;
//     color: $txt_white;
//     display: block;
//     position: fixed;
//     right: 6%;
//     top: 4%;
//     z-index: 999999;
// }

.navbar-toggler{
    border: 0px;
    border-radius: 0px;
    background-color: #ffffff;
    width: 20px;
    height: 12px;
    padding: 0px;
    cursor: pointer;
    line-height: 1;
    position: fixed;
    right: 6%;
    top: 48px;
    z-index: 999999;
    background-color: transparent;
    transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
    @include xsm{
        right: 10px;
    }
    @include sm{
        right: 10px;
    }
    &.nt-top{
        top: 30px;
    }
    &:focus{
        box-shadow: none;
        outline: none;
    }
    &:hover{
        span{
            &::before, &::after{
                width: 100%;
                background-color: #ffffff;
            }
        }
    }
    &.opened{        
        span{
            background-color: transparent;
            &::before{
                width: 100%;
                background-color: #ffffff;
                transform: rotate(45deg) translate(7px, 7px);
            }
            &::after{
                width: 100%;
                background-color: #ffffff;
                transform: rotate(-45deg);
            }
        }
    }
    span{
        display: block;
        width: 100%;
        height: 2px;
        // background-color: rgba(255, 255, 255, 0.3);
        background-color: #ffffff;
        border-radius: 5px;
        transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        &::before{
            content: "";
            position: absolute;
            right: 0px;
            top: 0px;
            width: 75%;
            height: 2px;
            border-radius: 8px;
            background-color: #ffffff;
            transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &::after{
            content: "";
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 75%;
            height: 2px;
            border-radius: 8px;
            background-color: #ffffff;
            transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }
}

a, button{
    outline: none !important;
}

.download-link{
    width: 180px;
    height: 45px;
    border-radius: 100px;
    background-color: #fff;
    color: #16161E;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 15px rgba(43, 43, 43, 0.247);
    margin-top: 10px;
    transition: all 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
        text-decoration: none;
        transform: scale(1.1);
        border-radius: 2px;
    }
}

.home-bg, .about-bg, .roadMap-bg{
    width: 100%;
    height: 100vh;
    padding: 3% 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.home-bg{
    background-image: url('../images/bg1.jpg');
    background-attachment: fixed;
}
.about-bg{
    background-image: url('../images/bg2.jpg');
    background-attachment: scroll;
    position: relative;
    z-index: 2;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}
.roadMap-bg{
    background-image: url('../images/bg3.jpg');
    background-attachment: fixed;
}

// HOME
.home{
    position: relative;
    z-index: 2;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

.home-right{    
    // background: #0f3854;
    // background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    // background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    #countdown{
        // background-color: #0a2e38;
        border-radius: 10px;
        padding: 15px;
        position: relative;
        z-index: 99;
        @include xsm{
            margin-top: 6%;
        }
        @include sm{
            margin-top: 6%;
        }
        // -webkit-box-reflect: below -80% linear-gradient(to bottom, rgba(0, 0, 0, 0.199) 0%, rgba(202, 202, 202, 0.329) 10%);
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            // border-radius: 0px 8px 8px 0px;
            border-radius: 6px;
            background: rgba(41, 41, 41, 0.24); 
        
            backdrop-filter:blur(9px);
            -o-backdrop-filter:blur(9px);
            -ms-backdrop-filter:blur(9px);
            -moz-backdrop-filter:blur(9px);
            -webkit-backdrop-filter:blur(9px);
            z-index: -1;
        }
        .countdown-title{
            text-align: center;
            color: #ffd54f;
            margin-bottom: 10px;
        }
        #headline{
            display: none;
        }
        ul{
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                font-size: 12px;
                font-family: OpenSans-Regular;
                list-style-type: none;
                // padding: 1em;
                text-transform: uppercase; 
                color: #ffffff;
                text-align: center;
                padding: 0px 15px 0px 15px;
                &:nth-last-child(1){
                    width: 100px;
                    @include xsm{
                        width: 68px;
                    }
                    // background-color: #fff;
                }
                span {
                    display: block;
                    font-size: 52px;
                    font-family: Poppins-Bold;
                    line-height: 1;
                    @include xsm{
                        font-size: 30px;
                    }
                    @include sm{
                        font-size: 42px;
                    }
                }
            }
        }
        
    }
}


h1{
    font-family: Poppins-Bold;
    font-size: 70px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include xsm{
        font-size: 55px;
    }
}

.content{
    color: #ffffff;
    font-size: 18px;
}

.about{
    padding: 3% 10%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.516) 20%, rgba(0, 0, 0, 0.516) 80%, rgba(0, 0, 0, 0) 100%);
    min-height: 220px;
    width: 100%;
    display: flex;
    align-items: center;
    @include xsm{
        min-height: 250px;
    }
    @include sm{
        min-height: 260px;
    }
    .about-txt{
        color: #ffffff;
        margin: 0;
        text-align: center;
    }
    .splide__slide{
        color: #ffffff;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .splide__track{
        @include xsm{
            height: 250px !important;
        }
        @include sm{
            height: 260px !important;
        }
    }
}

.roadmap-body{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4% 1% 4% 5%;
    // flex: 1;
    width: 100%;
    .splide__arrow--next{
        right: -0.5em;
    }
    .splide__arrow--prev{
        left: -0.5em;
    }
}
.splide__arrow{
    background: transparent;
    svg{
        fill: #ffffff;
    }
}



.roadmap-box{
    padding: 15px;
    // width: 400px;
    height: auto;
    .roadmap-box-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4%;
    }
    .roadmap-title{
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 0;
        @include xsm{
            font-size: 20px;
            // margin-bottom: 2%;
        }
        img{
            display: inline;
            width: 20px;
            margin-right: 3px;
        }
    }
    .count{
        color: #ffffff;
        font-size: 10px;
    }
    .roadmap-content{
        color: #ffffff;
        font-size: 16px;
        line-height: 1.8;
        @include xsm{
            font-size: 13px;
        }
        @include sm{
            font-size: 14px;
        }
    }
}



// ROAD MAP
.road-map-sec{
    width: 100%;
    height: auto;
    padding: 6% 0%;
    background-image: url('../images/bg2.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // animation: globe 2s linear infinite;
    // background: radial-gradient(circle at 100%, #272A33, #272a33b2 50%, rgba(131, 131, 131, 0.342) 75%, #272A33 75%);
    perspective: 1000px;
    perspective-origin: center;
    transform-style: preserve-3d;
    position: relative;
    z-index: 6;
    overflow: hidden;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
    & > .about-title{
        margin-bottom: 6%;
    }
    .rd-area{
        display: flex;
        flex-direction: column;
        // color: #FBD54A;
        color: #fff;
        min-height: 60vh;
        position: relative;
        z-index: 2;
        .line{
            width: 6px;
            height: 100%;
            position: absolute;
            border-left: 6px dashed #f7f7f7;
            border-top: 0;
            border-bottom: 0;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            @include xsm{
                left: 0%;
                border-width: 4px;
                transform: translate(0%, 0%);
            }
            @include sm{
                left: 0%;
                border-width: 4px;
                transform: translate(0%, 0%);
            }
            @include sm{
                border-width: 4px;
            }
        }
        .rd-main-bx{
            box-sizing: border-box;
            position: relative;
            @include xsm{
                margin-left: 40px;
                margin-bottom: 90px;
                justify-content: flex-start !important;
            }
            @include sm{
                margin-left: 70px;
                margin-bottom: 90px;
                justify-content: flex-start !important;
            }
        }

        .rd-bx{
            // background-color: #2D2F3C;
            width: 350px;
            min-height: 180px;
            position: relative;
            right: 0;
            // top: 30px;
            padding: 8px;
            border-radius: 8px;
            // border: 3px groove #f7f7f7;
            margin-bottom: 5%;
            cursor: pointer;
            // opacity: 0;
            display: flex;
            align-items: center;
            box-shadow: 4px 4px 15px rgba(10, 10, 10, 0.329);
            transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
            z-index: 4;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                // border-radius: 0px 8px 8px 0px;
                border-radius: 6px;
                // background: rgba(41, 41, 41, 0.479); 
                background: rgba(41, 41, 41, 0.497); 
            
                backdrop-filter:blur(9px);
                -o-backdrop-filter:blur(9px);
                -ms-backdrop-filter:blur(9px);
                -moz-backdrop-filter:blur(9px);
                -webkit-backdrop-filter:blur(9px);
                z-index: -1;
            }
            @include xsm{
                width: 100%;
                font-size: 13px;
                min-height: 130px;
            }
            @include sm{
                width: 100%;
                font-size: 13px;
                min-height: 130px;
            }
            @include md{
                width: 250px;
                font-size: 13px;
                min-height: 130px;
            }
            // &:hover{
            //     transform: scale(1.02);
            // }
            &.anim{
                opacity: 1;
                top: 0;
                border-color: #f7f7f7;
            }
            .rd-bx-badge{
                width: 60px;
                height: 100%;
                // background-color: #70706f;
                margin-right: 4px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include xsm{
                    width: 40px;
                }
                @include sm{
                    width: 40px;
                }
                @include md{
                    width: 40px;
                }
                img{
                    width: 30px;
                    height: auto;
                    filter: invert(0.4);
                }
            }
            .rd-bx-title{
                color: #FBD54A;
            }
            .rd-bx-txt{
                margin-bottom: 0;
            }
        }
    }
}
.rd-main-bx2{
    justify-items: flex-start !important;
    .svg-line{
        // right: 20% !important;
        // left: auto;
        left: 50%;
        transform: rotate(180deg) translate(0) rotate(0deg);
        transform-origin: 49% 27%;
        @include xsm{
            left: -42px;
        }
        @include sm{
            left: -70px;
        }
        @include md{
            left: 49.5%;
        }
    }
}
.svg-line{
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 0;
    // background-color: #fff;
    @include xsm{
        width: 60px;
        left: -42px;
        transform: translate(0%, 0%);
        transform: rotate(180deg) translate(0) rotate(0deg);
        transform-origin: 49% 27%;
    }
    @include sm{
        width: 90px;
        left: -70px;
        transform: translate(0%, 0%);
        transform: rotate(180deg) translate(0) rotate(0deg);
        transform-origin: 49% 27%;
    }
    @include md{
        width: 140px;
        left: 41%;
    }
    .svg-drawline{
        stroke:rgb(216, 216, 216);
        stroke-width: 6px;  
        stroke-linecap: round;
        stroke-dasharray: 1000;
        animation: dash 2s linear infinite;
    }
    .cscg-line-dot{
        // opacity: 0;
        fill: #ffffff;
        animation: blink 1s 3s linear infinite alternate;        
        &.cscg-line-dot1{
            @include xsm{
                r: 17%;
            }
            @include sm{
                r: 28%;
            }
            @include md{
                r: 34%;
            }
        }
        &.cscg-line-dot2{
            @include xsm{
                r: 6;
                cx: 90%;
            }
            @include sm{
                r: 8;
                cx: 90%;
            }
            @include md{
                r: 8;
                cx: 94%;
            }
            
        }
    }
}

.bg-main{
    background: linear-gradient(125deg, #02222F 0%, #1C465A 50%,  #1C465A 70%, #F7FFFF 100%);
}
.faq{
    padding: 3% 0%;
    height: auto !important;
    position: relative;
    z-index: 2;
    &::before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
    .faq-body{
        position: relative;
        #accordion .card{
            position: relative;
            background-color: transparent;
            z-index: 99;
            border: 0px;
            margin-bottom: 2px;
            // -webkit-box-reflect: below -80% linear-gradient(to bottom, rgba(0, 0, 0, 0.199) 0%, rgba(202, 202, 202, 0.329) 10%);
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                // border-radius: 0px 8px 8px 0px;
                border-radius: 6px;
                // background: rgba(41, 41, 41, 0.479); 
                background: rgba(41, 41, 41, 0.397); 
            
                backdrop-filter:blur(9px);
                -o-backdrop-filter:blur(9px);
                -ms-backdrop-filter:blur(9px);
                -moz-backdrop-filter:blur(9px);
                -webkit-backdrop-filter:blur(9px);
                z-index: -1;
            }
            .card-header{
                padding: 0;
                .btn{
                    background-color: #fff;
                    color: #000;
                    display: block;
                    width: 100%;
                    text-align: left;
                    text-decoration: none;
                    outline: none;
                    border: 0;
                    min-height: 50px;
                    position: relative;
                    padding: 10px 32px 10px 10px;
                    // padding-right: 32px;
                    &:focus{
                        outline: none !important;
                        box-shadow: none;
                    }
                    &.collapsed .arrow{
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
                    .arrow{
                        width: 15px;
                        // transform: rotate(90deg);
                        position: absolute;
                        right: 0%;
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(90deg);
                        color: #ffffff;
                        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }
            }
            .card-body{
                color: #ffffff;
                // font-family: OpenSans-Regular;
                font-size: 16px;
                font-weight: 100;
            }
        }
    }
}




.prof-sec{
    height: 100vh;
    padding: 3%;
    perspective: 1000px;
    background-color: rgb(0, 0, 0);
    position: relative;
    animation: bgi 15s ease infinite;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include xsm{
        height: 50vh;
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        // background: linear-gradient(90deg, rgba(69, 193, 235, 0.6) 0%, rgba(255, 192, 203, 0.6) 100%);
        background-position: 300% 300%;
        animation: bg 10s linear delay iteration-count direction fill-mode;
    }
    .circle{
        width: 500px;
        height: 500px;
        // border: 8px solid #aaa;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        @include xsm{
            width: 300px;
            height: 300px;
        }
        &::before{
            content: "";
            position: absolute;
            width: 85%;
            height: 85%;
            border: 2px dashed #c9c9c9;
            border-radius: 50%;
            animation: circle 40s linear infinite;
        }
        .main-imp{
            position: relative;
            width: 120px;
            height: 120px;
            border: 5px groove #b9b9b9;
            background-color: rgb(27, 27, 27);
            border-radius: 10px;
            cursor: pointer;
            transition: all 400ms ease;
            &:hover{
                transform: scale(1.4);
                border-radius: 0px;
            }
            img{
                max-width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
        .circle-img{
            position: absolute;
            width: 120px;
            height: 120px;
            border: 5px solid #ffffff; 
            // border-style: groove;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            animation: move 10s linear infinite;
            @include xsm{
                width: 80px;
                height: 80px;
            }
            @for $i from 1 to 5 {
                &:nth-child(#{$i}){
                    animation-delay: #{2.5*$i}s;
                }                
            }
            img{
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes bgi{
    0%, 100%{
        background-image: url('../images/as1.jpg');
    }
    20%{
        background-image: url('../images/as3.jpeg');
    }
    40%{
        background-image: url('../images/as5.jpeg');
    }
    60%{
        background-image: url('../images/as7.jpg');
    }
    80%{
        background-image: url('../images/as2.jpeg');
    }
    90%{
        background-image: url('../images/as4.jpg');
    }
}

@keyframes move{
    0%{
        transform: rotate(0deg) translate(200px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(200px) rotate(-360deg);
    }
}

@include xsm{
    @keyframes move{
        0%{
            transform: rotate(0deg) translate(120px) rotate(0deg);
        }
        100%{
            transform: rotate(360deg) translate(120px) rotate(-360deg);
        }
    }
}



footer{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    .social-media{
        text-align: center;
        list-style: none;
        margin-left: 0;
        padding: 0;
        @include xsm{
            justify-content: center;
            margin-top: 10px;
        }
        li{
            // margin-right: 15px;
            margin-bottom: 15px;
            &:nth-last-child(1){
                margin-right: 0;
            }
        }        
        .social-links{
            color: rgba(59, 59, 59, 0.68);;
            background-color: hsla(0, 0%, 0%, 0.671);
            width: 44px;
            height: 44px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 8px rgba(59, 59, 59, 0.12);
            font-size: 12px;
            text-decoration: none;
            transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1.21);
            &:hover{
                background-color: #2D2E2C;
                transform: scale(1.04);
            }
            img{
                width: 25px;
            }
        }
    }
}